header {
    background-color: #E6E6E6;
    text-align: center;
}

h1,
h2 {
    color: #005677;
    background-color: #C4C4C4;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 20px;
}

footer {
    background-color: #005677;
    color: #FFFFFF;
    text-align: center;
}

.Datos {
    font-weight: bold;
}

ul .Datos {

    font-style: italic;
}