$bgprimary: #E6E6E6;
$bgsecondary: #005677;
$bgtertiary: #C4C4C4;

$title: #005677;


* {
    box-sizing: border-box;
    margin: 0;
}

body {
    header {
        background-color: $bgprimary;
        text-align: center;

        h1 {
            background-color: $bgtertiary;
            color: $title;
            margin-top: 3vh;
        }

    }

    main {
        section.bio {
            margin-top: 5vh;
            margin-bottom: 3vh;

            h2 {
                background-color: $bgtertiary;
                color: $title;
                margin-bottom: 3vh;
            }

            ul {


                li {
                    span.Datos {
                        font-weight: bold;
                    }
                }
            }
        }

        section.formacion {
            margin-top: 5vh;
            margin-bottom: 3vh;

            h2 {
                background-color: $bgtertiary;
                color: $title;
                margin-bottom: 3vh;
            }

            table {
                tr {
                    td.Datos {
                        font-weight: bold;
                    }
                }
            }
        }

        section.experiencia {
            margin-top: 5vh;
            margin-bottom: 3vh;

            h2 {
                background-color: $bgtertiary;
                color: $title;
                margin-bottom: 3vh;
            }

            table {
                tr {
                    td.Datos {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    footer {
        div.social {
            background-color: $bgsecondary;
            text-align: center;

            span {
                color: white;

            }
        }
    }
}